{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block current_page %}
    Dashboard
{% endblock %}

{% block contents %}
<div class="row mb-3">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Earnings (Monthly)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">&#8361;{{ earnings }}</div>
{#                      <div class="mt-2 mb-0 text-muted text-xs">#}
{#                        <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>#}
{#                        <span>Since last month</span>#}
{#                      </div>#}
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Sales</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ total_sales }}</div>
{#                      <div class="mt-2 mb-0 text-muted text-xs">#}
{#                        <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>#}
{#                        <span>Since 2021</span> <!-- insert start year -->#}
{#                      </div>#}
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-shopping-cart fa-2x text-success"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- New User Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Reviews</div>
                      <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{ total_reviews }}</div>
{#                      <div class="mt-2 mb-0 text-muted text-xs">#}
{#                        <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 20.4%</span>#}
{#                        <span>Since last month</span>#}
{#                      </div>#}
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-users fa-2x text-info"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Menu</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">{{ menus|length }}</div>
{#                      <div class="mt-2 mb-0 text-muted text-xs">#}
{#                        <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>#}
{#                        <span>Since last month</span>#}
{#                      </div>#}
                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Area Chart -->
            <div class="col-xl-8 col-lg-7">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Monthly Report</h6>
                </div>
                <div class="card-body">
                  <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pie Chart -->
            <div class="col-xl-4 col-lg-5">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Products Sold</h6>
                  <div class="text-white">
                    <a class="btn btn-primary btn-sm">
                      Total
                    </a>
                  </div>
                </div>
                <div class="card-body">
                    {% for m in menus %}
                    <div class="mb-3">
                        <div class="small text-gray-500"><b>{{ m[0].name }}</b></div>
                        <div class="small float-right" style="margin-left: 2%;"><b>{{ m[0].sales}}</b></div>
                    <div class="progress" style="height: 12px;">
                        <div class="progress-bar bg-info" role="progressbar" style="width: {{ m[0].sales }}%" aria-valuenow="{{ m[0].sales }}"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <hr>
                  <a class="m-0 small text-primary card-link" href="{{ url_for('menu._list') }}">View More <i
                      class="fas fa-chevron-right"></i></a>
                </div>
              </div>
            </div>
            <!-- Invoice Example -->
            <div class="col-xl-8 col-lg-7 mb-4">
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Suggestion</h6>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Menu</th>
                        <th>Rating</th>
                        <th>Suggestion</th>
                        <th>Info.</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for m in menus %}
                      <tr>
                        <td><a href="{{ url_for('menu.detail', menu_id=m[0].id) }}">{{ m[0].name }}</a></td>
                        <td>★&nbsp;{{ m[0].rate }}</td>
                        <td>
                        {% if m[1] == None %}<span class="badge badge-warning">LOW SALES</span>{% endif %}
                        {% if m[1] == 0 %}<span class="badge badge-danger">CHANGE</span>{% endif %}
                        {% if m[1] == 1 %}<span class="badge badge-info">GOOD</span>{% endif %}
                        {% if m[1] == 2 %}<span class="badge badge-success">BEST</span>{% endif %}
                        </td>
                        <td><a href="{{ url_for('menu.detail', menu_id=m[0].id) }}" class="btn btn-sm btn-primary">Detail</a></td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="card-footer">
                    <hr>
                  <a class="m-0 small text-primary card-link" href="{{ url_for('menu._list') }}">View More <i
                      class="fas fa-chevron-right"></i></a>
                </div>
              </div>
            </div>

            <div class="col-xl-4 col-lg-5">
              <div class="card mb-4">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Made by</h6>
                </div>
                <div class="card-body text-lg-center">
                    <strong>TEAM 01</strong>
                </div>
                  <div class="card-footer text-center">
                      <hr><a>SOFTWARE SECURITY</a>
                  </div>
              </div>
            </div>
        </div>
{% endblock %}